<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Food Website</title>
    <link rel="stylesheet" href="./FoodRecipe.css">
</head>

<body class="login-body">
        <div class="login-container">
            <h2>Login</h2>
            <div class="login-input">
                <input id="email" type="text" placeholder="Email/Username"><br>
                <input id="password" type="password" placeholder="Password"><br>
                <button>Login</button> <a href="forgot.com">Forgot Password?</a>
            </div>

            <p>Don't have an account?
                <a href="./signup.html">Sign Up</a>
            </p>

        </div>
</body>

</html>